body, html {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 18px

}

/* start of header and logo animation */
header {
  background-color: rgb(69, 60, 158, 0.9); /* #453c9e */
  padding: 15px;
  position: relative;
  text-align: center;
  border-bottom: black;
  border-bottom-style: double;
}

header a#logo {
  color: white; /* text color */
  font-size: 45px;
  font-weight: 400;
  letter-spacing: 2.2px;
  text-decoration: none;
  position: relative;
}

header a#logo:hover {
  font-size: 0;
  line-height: 0;
  transition: 0.9s ease;
}

header a#logo:hover:before {
  content: attr(data-hover);
  /* color: #42e8e0; */
  font-size: 40px;
  line-height: 44px;
  margin-bottom: -10px;
  /* transition: 10s; */
}

/* Sticky header and navbar */
.sticky_header {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 1;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky_header + .content {
  padding-top: 102px;
}
/* End of header and logo animation */

/* Start of top navBar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
  justify-content: center;
  display: flex;
}

li {
  float: left;
}

.text_color{
  color: color: #453c9e;
}
.navItem {
  display: inline-block;
  color: #453c9e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: solid transparent;
  margin-right: 16px
}

.navItem:hover {
  /* background-color: #ddd; */
  color: #42e8e0;
  border-bottom: solid #42e8e0;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  /* ^^ so only appears on hover */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 10px 18px 26px 10px rgba(0, 0, 0, 0.2);
  /* four px for four sides of a box */
}

.dropdown-content a {
  color: #453c9e;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #42e8e0;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: #42e8e0;
}
/* End of top navBar */

/* Start of home-page hero image + content */
.hero {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../images/coding.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 3.5em;
}

.hero h1 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0.5em;
  /* margin-left: 2em; */
  color: white;
}

.hero h2{
  color: white;
  font-size: 1.5em;
}

.hero .btn {
  display: block;
  width: 125px;
  padding: 1em;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  border: 2px solid #42e8e0;
  border-radius: 30px;
}

.hero .btn:hover {
  /* color: #42e8e0; */
  background-color: #42e8e0;
}
/* End of home-page hero image + content */

/* Start of home-page main body */
.introduction {
  font-size: 1em;
  text-align: center;
  margin: 5% 25% 5% 25%;
  line-height: 1.5;
}

.Important {
  background-color: #b9b7ce;
  border-top: 1px solid #eaeaea;
  text-align: center;
  color: #453c9e;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
}

/* .Important li {
  background: url("../images/HTML.png");
  background-position: center top;
} */

/* ul {
  list-style: none;
  display: flex;
} */

#icons tbody td {
  margin: 0 20px;
  transition: 0.6s ease;
}

#icons tbody td:hover {
  font-size: 1.5em;
  transition: 0.6s ease;
}

#icons td {
  padding: 1em 3em 1em 3em;
}

.learn {
  font-size: 1em;
  text-align: center;
  margin: 0 25% 0 25%;
  line-height: 1.5;
}

.learn h2 {
  margin-top: 2em;
  color: #453c9e;
}
/* End of home-page main body */

/* Start of Contact-page styling for contact form */
* {
  box-sizing: border-box;
}

.click_me{
  background-color: /* rgba(0, 0, 0, 0.1) */ rgb(37,73,110,0.1);
  padding-top: 10px;
  padding-bottom: 35px;
  margin-bottom: 0;
}

.bg-img {
  /* The image used - use link below on website to attribute the author */
  /* <a href="https://www.freepik.com/free-photos-vectors/summer">Summer photo created by montypeter - www.freepik.com</a> */
  background-image: linear-gradient(rgba(45,39,103,0.5),rgba(45,39,103,0.5)), url("../images/cow.jpg");

  /* Control height of image */
  min-height: 600px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  z-index: auto;
  margin-top: 0;
  margin-bottom: 0;
}

/* Add styles to the form container */
#form {
  position: absolute;
  z-index: auto;
  right: 0;
  margin: 20px;
  max-width: 400px;
  padding: 16px;
  background-color: rgb(255,255,255,0.3); /* white */
}

/* Full-width input fields */
  input[type=text], input[type=email], input[type=submit] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: rgb(241,241,241,0.5); /* #f1f1f1 */
}

input[type=text]:focus, input[type=email]:focus, input[type=submit]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for message container */
#messageContainer {
  width: 100%;
  padding: 15px;
  margin: 0;
  border: none;
  background: rgb(241, 241, 241,0.5);
  position: relative;
  z-index: 0;
}

/* Set style for submit button here */
input[type=submit] {
  width: 50%;
  margin: 15px 0 5px 90px;
  border-radius: 60%;
}
/* End of contact-page styling for contact form */

/* Start of footer */
#myFooter {
   /* position: fixed;
   z-index: 2; */
   bottom: 0'
   left: 0;
   width: 100%;
   border-top: black;
   border-top-style: double;
   background-color: rgb(69, 60, 158, 0.7); /* #453c9e */
   display: block;
   color: white;
   text-align: center;
   margin-top: 0;
   padding: 15px;
}

#social {
  margin: 0 0 5px 0;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
}

#links_bottom {
  margin: 5px 0 0 0;
  padding-top: 10px;
}
.social_links {
  text-decoration: none;
  font-size: 15px;
  color: black;
}

.social_links .resize {
  width: 25px;
  height: auto;
  margin-left: 15px;
  margin-right: 5px;
}

.footer_style {
  list-style-type: none;
}

.footerLinks {
  list-style-type: none;
  text-decoration: none;
  font-size: 15px;
  color: white;
  margin-left: 5px;
  margin-right: 5px;
}

#copy{
  padding-top: 5px;
}
/* End of footer */
