body {
  font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  font-size: 18px
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #333; */
  justify-content: center;
  display: flex;
}

li {
  float: left;
}

.navItem {
  display: inline-block;
  color: #453c9e;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  border-bottom: solid transparent;
  margin-right: 16px
}

.navItem:hover {
  /* background-color: #ddd; */
  color: #42e8e0;
  border-bottom: solid #42e8e0;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  /* ^^ so only appears on hover */
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 10px 18px 26px 10px rgba(0, 0, 0, 0.2);
  /* four px for four sides of a box */
}

.dropdown-content a {
  color: #453c9e;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #42e8e0;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: #42e8e0;
}

.hero {
  width: 100vw;
  height: 80vh;
  display: flex;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("../images/coding.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  padding-left: 3.5em;
}

.hero h1 {
  font-size: 2em;
  margin-top: 0;
  margin-bottom: 0.5em;
  /* margin-left: 2em; */
  color: white;
}

.hero h2{
  color: white;
  font-size: 1.5em;
}

.hero .btn {
  display: block;
  width: 125px;
  padding: 1em;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  color: white;
  text-decoration: none;
  font-size: 1.3em;
  border: 2px solid #42e8e0;
  border-radius: 30px;
}

.hero .btn:hover {
  /* color: #42e8e0; */
  background-color: #42e8e0;
}

.introduction {
  font-size: 1em;
  text-align: center;
  margin: 25% 25% 25% 25%;
  line-height: 1.5;
}

.Important {
  background-color: #b9b7ce;
  border-top: 1px solid #eaeaea;
  text-align: center;
  color: #453c9e;
  border-bottom: 1px solid #eaeaea;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 60vh;
}

/* .Important li {
  background: url("../images/HTML.png");
  background-position: center top;
} */

/* ul {
  list-style: none;
  display: flex;
} */

#icons tbody td {
  margin: 0 20px;
  transition: 0.6s ease;
}

#icons tbody td:hover {
  font-size: 1.5em;
  transition: 0.6s ease;
}

#icons td {
  padding: 1em 3em 1em 3em;
}

.learn {
  font-size: 1em;
  text-align: center;
  margin: 0 25% 0 25%;
  line-height: 1.5;
}

.learn h2 {
  margin-top: 2em;
  color: #453c9e;
}

.members {
  margin: 0 auto;

  @media (min-width: 1200px) {
    width: 1170px;
  }

  @media (min-width: 992px) {
      width: 970px;
  }
}

.member {
	margin-bottom: 20px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	padding-bottom: 20px;
	cursor: pointer;
}

.member::after {
	content: '';
    padding: 0 50%;
    background: #CCCCCC;
    height: 4px;
    display: none;
    position: relative;
    margin-top: 10px;
    margin-bottom: -14px;
}

.member .member-img {
	width: 100%;
	margin-bottom: 30px;
	overflow: hidden;
}

.member .member-img img {
	width: 100%;
	height: auto;
}


.member .member-data {
	width: 78%;
	display: inline-block;
}

.member .member-data .nome {
	font-size: 20px;
}

.member .member-data .member-content {
	display: none;
}

.member span {
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
}

.member span.lnk-active {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}



.member .lnk-member,
.member .lnk-active {
	display: inline-block;
	width: 20%;
	text-align: center;
	vertical-align: top;
	cursor: pointer;
	margin-top: 5px;
	height: 22px;
}

.members .member-details {
	display: none;
}

.members .member-details .interno {
	background: #CCCCCC;
	padding: 50px 50px;
	margin-bottom: 30px;
	color: #ffffff;
}

.members .member-details .nome{
	font-style: italic;
	font-size: 40px;
}

.members .member-details .area{
	font-style: italic;
	font-size: 20px;
}

.members .member-details .conteudo {
	color: #525252;
	line-height: 1;
}

.member.active .nome,
.member:hover .nome {
	color:#CCCCCC;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.member.active::after,
.member:hover:after {
	display:block;
}
/* FORMATTING PAGE - ABOUT US */

/* Create three unequal columns that floats next to each other */
.column {
  float: left;
  padding: 10px;
}

/* Left column */
.column.side {
  width: 19%;
}

/* Middle column */
.column.middle {
  width: 78%;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column.side, .column.middle {
    width: 100%;
  }
}

/* END FORMATTING PAGE - ABOUT US */
